<div class="card-body">
    <div class="row">
      <div class="col-sm-6">
        <strong>ID:</strong> {{ teamDetails.id }}
      </div>
      <div class="col-sm-6">
        <strong>Capitano:</strong> {{ teamDetails.teamLeaderName }} {{ teamDetails.teamLeaderSurname }}
      </div>
      <div class="col-sm-6">
        <strong>Nome squadra:</strong> {{ teamDetails.teamName }}
      </div>
    </div>
    <hr>
    <div class="d-flex justify-content-between">
      <button class="btn btn-outline-info">Elimina squadra</button>
    </div>
  </div>
  