<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <div class="col-12 mt-3 mb-3 mb-lg-5">
            <div class="overflow-hidden card table-nowrap table-card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Tutti i tornei</h5>
                </div>
                <div class="table-responsive">
                    <table class="table mb-0" *ngIf="tournaments.length > 0">
                        <thead class="small text-uppercase bg-body text-muted">
                          <tr>
                            <th>Luogo</th>
                            <th>Nome</th>
                            <th>Livello</th>
                            <th>Inizio</th>
                            <th>Fine</th>
                            <th>Status</th>
                            <th>Tipo</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let t of tournaments">
                            <td>{{ t.place }}</td>
                            <td>{{ t.tournamentName }}</td>
                            <td>{{t.levelName}}</td>
                            <td>{{ t.startDate | date: 'dd/MM/yyyy' }}</td>
                            <td>{{ t.endDate | date: 'dd/MM/yyyy' }}</td>
                            <td *ngIf="t.status === 1">iscrizioni aperte</td>
                            <td *ngIf="t.status === 0">iscrizioni chiuse</td>
                            <td>{{ t.tournamentTypeName }}</td>
                            <td><a class="btn btn-primary" [routerLink]="['/tournament', t.id]">Dettagli</a></td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="card" *ngIf="tournaments.length < 1">
                        <div class="card-body">
                            <span><i class="mdi mdi-close"></i>Non sono ancora presenti tornei</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

