<div class="card-body">
    <div class="row">
      <div class="col-sm-6">
        <strong>ID:</strong> {{ user.id }}
      </div>
      <div class="col-sm-6">
        <strong>Nome e cognome:</strong> {{ user.name }} {{ user.surname }}
      </div>
      <div class="col-sm-6">
        <strong>Data registrazione:</strong> {{ user.registrationDate | date: 'dd/MM/yyyy'}}
      </div>
      <div class="col-sm-6">
        <strong>Data ultimo accesso:</strong> {{ user.lastLogin | date: 'dd/MM/yyyy'}}
      </div>
      <div class="col-sm-6">
        <strong>Email:</strong> {{ user.email }}
      </div>
      <div class="col-sm-6">
        <strong>Ruolo:</strong> {{ user.role }}
      </div>
    </div>
    <hr>
    <div class="d-flex justify-content-between">
      <button class="btn btn-outline-info">Elimina utente</button>
      <button class="btn btn-outline-info">Modifica utente</button>
    </div>
  </div>
  