<div class="container-fluid px">
    <form class = "row g-3" (ngSubmit)="createNewStructure()" [formGroup]="createStructureForm">
            <div class="alert alert-danger" role="alert" *ngIf="errorMessage" style="text-align: center;">
                <strong>{{ errorMessage }}</strong>
            </div>
            <div class="alert alert-success" role="alert" *ngIf="successMessage" style="text-align: center;">
                <strong>{{ successMessage }}</strong>
            </div>
            <div class="col-md-12">
                <label for="name" class="form-label">Inserisci il nome della struttura:</label>
                <input type="text" id="name" class="form-control" formControlName = "name">
            </div>
    
            <div class="col-md-12">
                <label for="address" class="form-label">Indirizzo:</label>
                <input type="text" id="address" class="form-control" formControlName="address">
            </div>
    
            <div class="col-md-8">
                <label for="city" class="form-label">Città:</label>
                <input type="text" id="city" class="form-control" formControlName="city">
            </div>
    
            <div class="col-md-4">
                <label for="province" class="form-label">Provincia:</label>
                <input type="text" id="province" class="form-control" formControlName="province" maxlength="2">
            </div>
    
            <div class="col-md-6">
                <label for="region" class="form-label">Regione:</label>
                <input type="text" id="region" class="form-control" formControlName="region">
            </div>

            <div class="col-md-12">
                <label for="managerId" class="form-label">Manager della struttura:</label>
                <input type="text" id="managerId" class="form-control" formControlName="managerId" readonly value="{{managerData.name}} {{managerData.surname}} (ID: {{managerData.id}})" >
            </div>
    
            <div class="col-12 text-center">
                <button type="submit" class="btn btn-primary"><b>REGISTRA STRUTTURA</b></button>
            </div>
    </form>
</div>
    