
<div class="card">
  <div class="tab-content p-4">
      <div class="tab-pane active show" id="team-tab" role="tabpanel">
          <h4 class="card-title mb-4">Membri della squadra <button class="addMember btn btn-primary"><i class="mdi mdi-account-plus me-1"></i>Aggiungi un membro</button></h4>
          <div class="row" *ngIf="players.length > 0">
              <div class="col-xl-4 col-md-6" *ngFor="let player of players">
                    <div class="card">
                        <div class="card-body">
                            <div>
                                <h5 class="mb-1 font-size-17"><i class="mdi mdi-crown" *ngIf="checkCaptain(player.teamDto.idTeamLeader, player.playerId)"></i> {{ player.playerName }} {{ player.playerSurname }}</h5>
                            </div>
                            <div class="d-flex mb-8">
                            </div>
                        </div><!-- end card-body -->
                    </div><!-- end card -->
              </div><!-- end col -->
          </div><!-- end row -->
          <div class="row" *ngIf="players.length < 1">
              <div class="col-xl-4 col-md-6">
                  <div>
                      <span>Non c'è nessun membro in questa squadra</span>
                  </div>
              </div><!-- end col -->
          </div><!-- end row -->
      </div><!-- end team pane -->
  </div>
</div><!-- end card -->