<div class="container-fluid ">
    <h1 class="hover-effect">Tutti i tornei disponibili:</h1>
    </div>
    <div class="container-fluid px">     
        <table class="table table-dark table-striped table-hover">
          <thead>
            <tr>
              <th>Id</th>
              <th>Nome</th>
              <th>Inizio</th>
              <th>Fine</th>
              <th>Tipo</th>
              <th>Luogo</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let t of tournaments">
            
              <td>{{ t.id }}</td>
              <td>{{ t.tournamentName }}</td>
              <td>{{ t.startDate }}</td>
              <td>{{ t.endDate }}</td>
              <td>{{ t.tournamentTypeName }}</td>
              <td>{{ t.place }}</td>
              <td><a class="btn btn-outline-info" [routerLink]="['/admin/tournament', t.id]">Gestisci</a>
              <button class="btn btn-outline-info" (click)="deleteTournament(t.id)">Elimina</button></td>
              
    
              <!-- <td>
              <button class="btn btn-primary hover-effect small-btn" (click)="deleteCourse(c.id!)"><i class="bi bi-trash"></i></button>
            </td> -->
            </tr>
            <a class="btn btn-outline-info" [routerLink]="['/add-tournament-form']">CREA UN NUOVO TORNEO</a>
          </tbody>
        </table>
    </div>
    
