<div class="card">
    <div class="tab-content p-4">
        <div class="tab-pane active show" id="team-tab" role="tabpanel">
            <h4 class="card-title mb-4">Storico match<button class="createMatch btn btn-primary" (click)="openModal(createMatchModal)"><i class="mdi mdi-book-plus me-2"></i>Crea un match</button></h4>
            <div class="row" *ngIf="matchesList.length > 0">
                <div class="col-xl-13">
                    <div class="table-responsive">
                        <table class="table mb-0" *ngIf="matchesList.length! > 0">
                            <thead class="small text-uppercase bg-body text-muted">
                                <tr>
                                    <th>Stato invito</th>
                                    <th>Data incontro</th>
                                    <th>Tipo</th>
                                    <th>Torneo</th>
                                    <th>Squadre</th>
                                    <th>Vincitore</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="align-middle" *ngFor="let match of matchesList!">
                                    <td *ngIf="match.status === 1">Confermato</td>
                                    <td *ngIf="match.status === 2">In attesa</td>
                                    <td *ngIf="match.status === 0">Rifiutato</td>
                                    <td>{{ match.startDate! | date: 'dd/MM/yyyy'  }}</td>
                                    <td>{{ getMatchType(match.matchType) }}</td>
                                    <td>{{ match.tournamentName! }}</td>
                                    <td><a [routerLink]="['/match', match.id]">{{ match.homeTeamName! }} vs {{ match.awayTeamName! }}</a></td>
                                    <td>{{ match.winnerTeam! }}</td>
                                  </tr>
                            </tbody>
                        </table>
                        <div class="card" *ngIf="matchesList.length! < 1">
                            <div class="card-body">
                                <span><i class="mdi mdi-close"></i>Questa squadra non ha match</span>
                            </div>
                        </div>
                    </div>
                </div><!-- end col -->
            </div><!-- end row -->
            <div class="row" *ngIf="matchesList.length < 1">
                <div class="col-xl-4 col-md-6">
                    <div>
                        <span>Non hai ancora creato un match</span>
                    </div>
                </div> <!-- end col -->
            </div> <!-- end row -->
        </div><!-- end team pane -->
    </div>
</div><!-- end card -->

<ng-template #createMatchModal>
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createTeamModalLabel">Crea un match</h5>
        <button type="button" class="btn-close" (click)="closeModal()" aria-label="Chiudi"></button>
      </div>
      <div class="modal-body">
        <div class="tab-content">
          <div class="tab-pane active" id="createTeam" role="tabpanel">
            <div class="container-fluid px">
                <div class="col-md-13">
                    <label for="createdTeams" class="form-label">Scegli la tua squadra:</label>
                    <select id="createdTeams" [(ngModel)]="chosenPersonalTeam" class="form-control">
                        <option [value]="t.id" *ngFor="let t of createdTeams"> {{ t.teamName }} </option>
                    </select>
                </div>
                <hr>
                <div class="col-md-13">
                    <label for="createdTeams" class="form-label">Scegli una data:</label>
                    <div style="display: flex">
                        <input type="date" class="form-control" [(ngModel)]="matchDate" />
                    </div>
                    <label for="createdTeams" class="form-label">Numero di set:</label>
                    <div style="display: flex">    
                        <input type="text" class="form-control" [(ngModel)]="numberOfSets" />
                    </div>
                </div>
                <hr>
                <div class="col-md-13">
                    <label for="searchAdversary" class="form-label">Cerca avversario:</label>
                    <div style="display: flex;">
                        <input type="text" name="searchAdversary" class="form-control" placeholder="Inserisci il nome della squadra" [(ngModel)]="searchTeamName" (ngModelChange)="delayedSearch()" style="flex-grow: 1; margin-right: 10px;"/>
                        <button type="button" class="btn btn-primary" (click)="delayedSearch()">Cerca</button>
                      </div>
                </div>
                <div class="col-md-13">
                    <app-teams-found-list [teamsFoundProp]="teamsFound" (selectTeamEmitter)="createNewMatch($event)"></app-teams-found-list>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</ng-template>

<ng-template #successModal>
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="successModalLabel">Invio match effettuato!</h5>
      </div>
      <div class="modal-body">
        <div class="tab-content">
          <div class="tab-pane active" id="successModal" role="tabpanel">
            <div>
              <div class="row align-items-center">
                <div class="col-md-2">
                  <div>
                    <img src="../../../../../assets/img/green_check.png" alt="success" class="img-fluid" style="max-width: 50px;">
                  </div>
                </div>
                <div class="col-md-10">
                  <div>
                    <b>Invio inviato! Ora tornerai alla pagina precedente.</b>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #errorModal>
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="errorModalLabel">Errore!</h5>
        <button type="button" class="btn-close" (click)="closeModalMessage()" aria-label="Chiudi"></button>
      </div>
      <div class="modal-body">
        <div class="tab-content">
          <div class="tab-pane active" id="errorModal" role="tabpanel">
            <div>
              <div class="row align-items-center">
                <div class="col-md-2">
                  <div>
                    <img src="../../../../../assets/img/red_exclamation.png" alt="error" class="img-fluid" style="max-width: 50px;">
                  </div>
                </div>
                <div class="col-md-10">
                  <div>
                    <b>Controlla di aver inserito tutti i campi!<br>Se il problema persiste, contatta l'amministratore.</b>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>