<div class="card">
    <div class="tab-content p-4">
        <div class="tab-pane active show" id="team-tab" role="tabpanel">
            <h4 class="card-title mb-4">I tuoi match<button class="createMatch btn btn-primary" (click)="openModal(createMatchModal)"><i class="mdi mdi-book-plus me-2"></i>Crea un match</button></h4>
            <div class="row" *ngIf="matchesList.length > 0">
                <div class="col-xl-4 col-md-6">
                    <div class="table-responsive">
                        <table class="table user-list">
                            <thead>
                                <tr>
                                    <th><span>Tipo</span></th>
                                    <th><span>Data</span></th>
                                    <th><span></span></th>
                                    <th><span>Vincitore</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let match of matchesList">
                                    <td>
                                        {{ match.matchType }}
                                    </td>
                                    <td>
                                        {{ match.startDate | date: 'dd/MM/yyyy' }}
                                    </td>
                                    <td>
                                        {{match.homeTeamName}} vs {{match.awayTeamName}}
                                    </td>
                                    <td>
                                        {{ match.winnerTeam }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div><!-- end col -->
            </div><!-- end row -->
            <div class="row" *ngIf="matchesList.length < 1">
                <div class="col-xl-4 col-md-6">
                    <div>
                        <span>Non hai ancora creato un match</span>
                    </div>
                </div> <!-- end col -->
            </div> <!-- end row -->
        </div><!-- end team pane -->
    </div>
</div><!-- end card -->

<ng-template #createMatchModal>
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createTeamModalLabel">Crea un match</h5>
        <button type="button" class="btn-close" (click)="closeModal()" aria-label="Chiudi"></button>
      </div>
      <div class="modal-body">
        <div class="tab-content">
          <div class="tab-pane active" id="createTeam" role="tabpanel">
            <div class="container-fluid px">
                <div class="col-md-13">
                    <label for="createdTeams" class="form-label">Scegli la tua squadra:</label>
                    <select id="createdTeams" [(ngModel)]="chosenPersonalTeam" class="form-control">
                        <option [value]="t.id" *ngFor="let t of createdTeams"> {{ t.teamName }} </option>
                    </select>
                </div>
                <hr>
                <div class="col-md-13">
                    <label for="createdTeams" class="form-label">Scegli una data:</label>
                    <input type="date" class="form-control" [(ngModel)]="matchDate" />
                </div>
                <hr>
                <div class="col-md-13">
                    <label for="searchAdversary" class="form-label">Cerca avversario:</label>
                    <div style="display: flex;">
                        <input type="text" name="searchAdversary" class="form-control" placeholder="Inserisci il nome della squadra" [(ngModel)]="searchTeamName" (ngModelChange)="delayedSearch()" style="flex-grow: 1; margin-right: 10px;"/>
                        <button type="button" class="btn btn-primary" (click)="delayedSearch()">Cerca</button>
                      </div>
                </div>
                <div class="col-md-13">
                    <app-teams-found-list [teamsFoundProp]="teamsFound" (selectTeamEmitter)="createNewMatch($event)"></app-teams-found-list>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</ng-template>