<footer class="bg-dark text-light py-4">
    <div class="container">
        <div class="container text-uppercase">
            <p>Follow Us</p>
            <div class="social-links">
                <a href="#" class="text-light me-3"><i class="bi bi-facebook"></i></a>
                <a href="#" class="text-light me-3"><i class="bi bi-twitter"></i></a>
                <a href="https://www.instagram.com/beachilleventi/" class="text-light me-3"><i class="bi bi-instagram"></i></a>
            </div>
            <p>&copy; 2024 Beachill. All rights reserved.</p>
        </div>
    </div>
</footer>
