<div class="container-fluid px">
<form class = "row g-3" (ngSubmit)="createNewTournament()" [formGroup]="tournamentForm">
        <div class="alert alert-danger" role="alert" *ngIf="errorMessage" style="text-align: center;">
            <strong>{{ errorMessage }}</strong>
        </div>
        <div class="alert alert-success" role="alert" *ngIf="successMessage" style="text-align: center;">
            <strong>{{ successMessage }}</strong>
        </div>
        <div class="col-md-12">
            <label for="tournamentName" class="form-label">Scegli il nome del torneo:</label>
            <input type="text" id="tournamentName" class="form-control" formControlName = "tournamentName">
        </div>

        <div class="col-md-6">
            <label for="startDate" class="form-label">Data di inizio:</label>
            <input type="date" id="startDate" class="form-control" formControlName="startDate">
        </div>

        <div class="col-md-6">
            <label for="endDate" class="form-label">Data di fine:</label>
            <input type="date" id="endDate" class="form-control" formControlName="endDate">
        </div>

        <div class="col-md-6">
            <label for="tournamentTypeName" class="form-label">Scegli il tipo del torneo:</label>
            <select id="tournamentTypeName" class="form-control" formControlName = "tournamentTypeName">
                <option [value]="t.tournamentTypeName" *ngFor="let t of tournamentTypes"> {{ t.tournamentTypeName }} </option>
            </select>
        </div>

        <div class="col-md-6">
            <label for="tournamentLevel" class="form-label">Scegli il livello del torneo:</label>
            <select id="tournamentLevel" class="form-control" formControlName = "levelName">
                <option [value]="t.levelName" *ngFor="let t of tournamentLevel"> {{t.levelName}} </option>
            </select>
        </div>

        <div class="col-md-12">
            <label for="place" class="form-label">Scegli il luogo del torneo:</label>
            <select id="place" class="form-control" formControlName = "place">
                <option [value]="p.place" *ngFor="let p of places"> {{p.place}} </option>
            </select>
        </div>

        <div class="col-12 text-center">
            <button type="submit" class="btn btn-primary"><b>CREA TORNEO</b></button>
        </div>
    
        
</form>
</div>
