<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<div class="row">
    <form class="row">
        <div class="col-lg-9">
            <label for="search" class="form-label">Cerca una squadra</label>
            <input type="text" id="search" name="search" placeholder="Inserisci il nome della squadra o il suo capitano" class="form-control" [(ngModel)]="teamNameToFind" (ngModelChange)="delayedSearch()">
        </div>
        <div class="col-lg-3 d-flex align-items-end">
            <button type="submit" class="btn btn-outline-info" (click)="delayedSearch()">Cerca</button>
        </div>
    </form>
</div>
<hr>
<div class="container bootstrap snippets bootdey">
    <div class="row">
        <div class="col-lg-12">
                    <div class="table-responsive">
                        <table class="table user-list">
                            <thead>
                                <tr>
                                    <th><span>Nome</span></th>
                                    <th><span>Capitano</span></th>
                                    <th><span>Data creazione</span></th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let team of teams | slice: (currentPage - 1) * itemsPerPage : currentPage * itemsPerPage">
                                    <td>
                                        <span>{{ team.teamName }}</span>
                                    </td>
                                    <td>
                                        {{ team.teamLeaderName }} {{ team.teamLeaderSurname }}
                                    </td>
                                    <td>
                                        
                                    </td>
                                    <td style="width: 20%;">
                                        <button class="btn btn-outline-info me-1" [routerLink]="['/admin/team', team.id]">Gestisci</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex align-items-center justify-content-center" *ngIf="teams.length > 0">
                        <pagination [totalItems]="teams.length" [(ngModel)]="currentPage" [itemsPerPage]="itemsPerPage"></pagination>
                    </div>
                </div>
            </div>
        </div>