    <div class="card">
        <div class="tab-content p-4">
            <div class="tab-pane active show" id="team-tab" role="tabpanel">
                <h4 class="card-title mb-4">I tuoi team <button class="createTeam btn btn-primary" (click)="openModal(addMemberModal)"><i class="mdi mdi-account-multiple-plus me-2"></i>Crea un team</button></h4>
                <div class="row" *ngIf="joinedTeams.length > 0">
                    <div class="col-xl-4 col-md-6" *ngFor="let team of joinedTeams">
                        <a [routerLink]="['/team', team.id]">
                            <div class="card">
                                <div class="card-body">
                                    <div>
                                        <h5 class="mb-1 font-size-17"><i class="mdi mdi-crown" *ngIf="checkCaptain(team.idTeamLeader)"></i> {{ team.teamName }}</h5>
                                    </div>
                                    <div class="d-flex mb-8">
                                    </div>
                                </div><!-- end card-body -->
                            </div><!-- end card -->
                        </a>
                    </div><!-- end col -->
                </div><!-- end row -->
                <div class="row" *ngIf="joinedTeams.length < 1">
                    <div class="col-xl-4 col-md-6">
                        <div>
                            <span>Non sei unito a nessun team</span>
                        </div>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end team pane -->
            <div class="tab-pane show" id="changepass-tab" role="tabpanel">
                <h4 class="card-title mb-4">Cambia Password</h4>
                <div class="row">
                    <div class="col-xl-4 col-md-6" id="changepass">
                        <span>STIAMO IN PASSWORD!</span>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end pass pane -->
            <div class="tab-pane show" id="settings-tab" role="tabpanel">
                <h4 class="card-title mb-4">Impostazioni avanzate</h4>
                <div class="row">
                    <div class="col-xl-4 col-md-6" id="settings">
                        <span>STIAMO IN IMPOSTAZIONI!</span>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end tab pane -->
        </div>
    </div><!-- end card -->

    <ng-template #addMemberModal>
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="createTeamModalLabel">Crea un team</h5>
              <button type="button" class="btn-close" (click)="closeModal()" aria-label="Chiudi"></button>
            </div>
            <div class="modal-body">
              <div class="tab-content">
                <div class="tab-pane active" id="createTeam" role="tabpanel">
                  <div class="container-fluid px">
                    <form class = "row g-3" (ngSubmit)="createNewTeam()" [formGroup]="createTeamForm">
                        <div class="col-md-6">
                            <label for="name" class="form-label">Inserisci il nome del team:</label>
                            <input type="text" id="teamName" class="form-control" formControlName = "teamName">
                        </div>
                
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Crea</button>
                        </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </ng-template>
