<p>reservation-places-list works!</p>
<div class="container-fluid ">
    <h1 class="hover-effect">Tutte le strutture:</h1>
    </div>
    <div class="container-fluid px">     
        <table class="table table-dark table-striped table-hover">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Città</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let reservationPlace of reservationPlaces">
                <td>{{ reservationPlace.name }}</td>
                <td>{{ reservationPlace.city }} ({{ reservationPlace.province }})</td>
                <td><button class="btn btn-primary" [routerLink]="['/reservation-places', reservationPlace.id]">Visualizza</button></td>
            </tr>
          </tbody>
        </table>
    </div>