<div class="container mt-3">
  <div class="row">
    <div class="col-xl-13">
      <div class="card">
        <div class="card-body pb-0">
          <div class="row align-items-center pt-1">
            <div class="col-md-13">
              <div class="ms-3">
                  <div *ngIf="reservationDetails">
                    <h4 class="card-title mb-2" >Effettua una prenotazione presso {{ reservationDetails.name }}</h4>
                      <p class="mb-0 text-muted">Sei interessato ad una partita? Prenotane una adesso!</p>
                  </div>
                  <div class="row my-3">
                      <div class="col-md-5">
                        <div>
                          <label for="field" class="form-label">Campi di gioco</label>
                          <select [(ngModel)]="fieldId" id="field" class="form-select" aria-label="Default option" placeholder="Seleziona un campo di gioco">
                            <option [ngValue]="field.id" *ngFor="let field of fieldList; let i = index">Campo {{i+1}} - {{ field.sportName }}</option>
                          </select>
                        </div>
                    </div><!-- end col -->
                    <div class="col-md-4">
                      <div>
                        <label for="reservationDate" class="form-label">Data di prenotazione</label>
                        <input [(ngModel)]="date" type="date" id="reservationDate" class="form-control" min="{{ today }}">
                      </div>
                    </div><!-- end col -->
                    <div class="col-md-3">
                      <div>
                        <button type="submit" class="btn btn-success" (click)="getReservationDetails(errorModal)">Visualizza disponibilità</button>
                      </div>
                    </div><!-- end col -->
                  </div><!-- end row -->
              </div>
            </div><!-- end col -->
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body pb-0">
          <div class="container">
            <div class="row align-items-end mb-4 pb-2">
                <div class="col-md-8">
                    <div class="section-title text-center text-md-start">
                        <h4 class="title mb-4">Seleziona uno slot orario</h4>
                        <p class="text-muted mb-0 para-desc" *ngIf="slots.length > 0">Adesso basta selezionare un qualsiasi slot disponibile! E' necessario solamente un click!</p>
                        <p class="text-muted mb-0 para-desc" *ngIf="slots.length < 1">Non hai ancora scelto le tue preferenze di ricerca.</p>
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12 pt-2" *ngFor="let slot of slots; let i = index">
                    <div class="card border-0 bg-light rounded shadow">
                        <div class="card-body p-4">
                            <span class="badge rounded-pill bg-primary float-md-end mb-3 mb-sm-0" *ngIf="!slot.reserved">Disponibile</span>
                            <span class="badge rounded-pill bg-danger float-md-end mb-3 mb-sm-0" *ngIf="slot.reserved">Prenotato</span>
                            <h5>Turno {{ i+1 }}</h5>
                            <div class="mt-3">
                                <span class="text-muted d-block"><i class="mdi mdi-calendar" aria-hidden="true"></i>{{ slot.reservationDate | date: 'dd-MM-yyyy' }}</span>
                                <span class="text-muted d-block"><i class="mdi mdi-calendar-clock" aria-hidden="true"></i>{{slot.startTime}} - {{slot.endTime}}</span>
                            </div>
                            
                            <div class="mt-3">
                                <button type="button" class="btn btn-primary" *ngIf="!slot.reserved" (click)="createNewReservation(slot.fieldId, slot.reservationDate, slot.startTime, slot.endTime, successModal)">Prenota</button>
                                <button type="button" class="btn btn-danger" *ngIf="slot.reserved" disabled>Prenotato</button>
                            </div>
                        </div>
                    </div>
                </div><!--end col-->
            </div><!--end row-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #successModal>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="successModalLabel">Prenotazione effettuata!</h5>
    </div>
    <div class="modal-body">
      <div class="tab-content">
        <div class="tab-pane active" id="successModal" role="tabpanel">
          <div>
            <div class="row align-items-center">
              <div class="col-md-2">
                <div>
                  <img src="../../../../../assets/img/green_check.png" alt="success" class="img-fluid" style="max-width: 50px;">
                </div>
              </div>
              <div class="col-md-10">
                <div>
                  <b>Prenotazione effettuata con successo! Verrai reindirizzato alla pagina prenotazioni.</b>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #errorModal>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="errorModalLabel">Errore!</h5>
      <button type="button" class="btn-close" (click)="closeModal()" aria-label="Chiudi"></button>
    </div>
    <div class="modal-body">
      <div class="tab-content">
        <div class="tab-pane active" id="errorModal" role="tabpanel">
          <div>
            <div class="row align-items-center">
              <div class="col-md-2">
                <div>
                  <img src="../../../../../assets/img/red_exclamation.png" alt="error" class="img-fluid" style="max-width: 50px;">
                </div>
              </div>
              <div class="col-md-10">
                <div>
                  <b>Sembra che tu non abbia inserito tutti i campi correttamente. Riprova!</b>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>