<div class="card-body">
  <div class="row">
    <div class="col-sm-6">
      <strong>ID:</strong> {{ tournamentDetails.id }}
    </div>
    <div class="col-sm-6">
      <strong>Nome:</strong> {{ tournamentDetails.tournamentName }}
    </div>
    <div class="col-sm-6">
      <strong>Data inizio:</strong> {{ tournamentDetails.startDate }}
    </div>
    <div class="col-sm-6">
      <strong>Data fine:</strong> {{ tournamentDetails.endDate }}
    </div>
    <div class="col-sm-6">
      <strong>Tipo:</strong> {{ tournamentDetails.tournamentTypeName }}
    </div>
    <div class="col-sm-6">
      <strong>Luogo:</strong> {{ tournamentDetails.place }}
    </div>
    <div class="col-sm-6">
      <strong>Status:</strong> {{ tournamentDetails.status }}
    </div>
    <div class="col-sm-6">
      <strong>Manager:</strong> {{ tournamentDetails.userDto?.name}} {{tournamentDetails.userDto?.surname}}
    </div>
  </div>
  <hr>
  <div class="d-flex justify-content-between">
    <button class="btn btn-outline-info" *ngIf="tournamentDetails.id !== undefined && matches.length < 1 " (click)="generateMatchTournament(tournamentDetails.id)">Genera i Match</button>
  </div>
</div>
