<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<div class="row">
    <form class="row">
        <div class="col-lg-9">
            <label for="search" class="form-label">Cerca un utente</label>
            <input type="text" id="search" name="search" placeholder="Inserisci l'email o il nome utente" class="form-control">
        </div>
        <div class="col-lg-3 d-flex align-items-end">
            <button type="submit" class="btn btn-outline-info">Cerca</button>
        </div>
    </form>
</div>
<hr>
<div class="container bootstrap snippets bootdey">
    <div class="row">
        <div class="col-lg-12">
                    <div class="table-responsive">
                        <table class="table user-list">
                            <thead>
                                <tr>
                                    <th><span>Utente</span></th>
                                    <th><span>Ruolo</span></th>
                                    <th><span>Email</span></th>
                                    <th><span>Creato</span></th>
                                    <th><span>Ultimo login</span></th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of users | slice: (currentPage - 1) * itemsPerPage : currentPage * itemsPerPage">
                                    <td>
                                        <span>{{ user.name }} {{ user.surname }}</span>
                                    </td>
                                    <td>
                                        <span class="badge bg-primary" *ngIf="user.role === 'USER'">Utente</span>
                                        <span class="badge bg-success" *ngIf="user.role === 'MANAGER'">Manager</span>
                                        <span class="badge bg-warning" *ngIf="user.role === 'ADMIN'">Amministratore</span>
                                        <span class="badge bg-danger" *ngIf="user.role === 'SUPERADMIN'">Super Admin</span>
                                    </td>
                                    <td>
                                        {{ user.email }}
                                    </td>
                                    <td>
                                        {{ user.registrationDate| date: 'dd/MM/yyyy' }}
                                    </td>
                                    <td>
                                        {{ user.lastLogin| date: 'dd/MM/yyyy' }}
                                    </td>
                                    <td style="width: 10%;">
                                        <button class="btn btn-outline-info me-1" [routerLink]="['/admin/user/', user.id]">Gestisci</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex align-items-center justify-content-center" *ngIf="users.length > 10">
                        <pagination [totalItems]="users.length" [(ngModel)]="currentPage" [itemsPerPage]="itemsPerPage"></pagination>
                    </div>
                </div>
            </div>
        </div>