<div class="row">
    <div class="col-lg-12">
        <div class="card mb-4">
            <div class="card-header">Lista utenti registrati</div>
            <div class="card-body">
                <app-user-list-admin></app-user-list-admin>
            </div>
        </div>
    </div>
    <!-- <div class="col-lg-8">
        <div class="card mb-4">
            <div class="card-header">Crea un nuovo torneo</div>
            <div class="card-body">
                <app-add-tournament-form></app-add-tournament-form>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card mb-4">
            <div class="card-header">Tornei in corso</div>
            <div class="card-body">
                <p>Si vedrà una minilista di tornei in corso qui. 
                    <br>Under construction!</p>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header">Spazio personalizzato</div>
            <div class="card-body">
                <p>Cosa vogliamo fare qui Fede? O la facciamo saltare in aria? :)</p>
                <button class="btn btn-danger-soft text-danger" type="button">I understand, delete my account</button>
            </div>
        </div>
    </div> -->
</div>