<p>add-tournament-form works!</p>
<form class = "" (ngsubmit)="createNewTournament()" [formGroup]="tournamentForm">
    
        <div class="col-md-6">
            <label for="tournamentName" class="form-label">Scegli il nome del torneo:</label>
            <input type="text" id="tournamentName" class="form-control" formControlName = "tournamentName">
        </div>

        <div class="col-md-6">
            <label for="startDate" class="form-label">Data di inizio:</label>
            <input type="date" id="startDate" class="form-control" formControlName="startDate">
        </div>

        <div class="col-md-6">
            <label for="endDate" class="form-label">Data di inizio:</label>
            <input type="date" id="endDate" class="form-control" formControlName="endDate">
        </div>

        <label for="tournamentTypeName" class="form-label">Scegli il tipo del torneo:</label>
        <select id="tournamentTypeName" class="form-control" formControlName = "tournamentTypeName">
            <option selected value="">Seleziona: </option>
            <option [value]="t.id" *ngFor="let t of tournamentTypes"> {{t.id}} </option>
        </select>

        <label for="place" class="form-label">Scegli il luogo del torneo:</label>
        <select id="place" class="form-control" formControlName = "place">
            <option selected value="">Seleziona: </option>
            <option [value]="p.id" *ngFor="let p of places"> {{p.id}} </option>
        </select>

        <div class="col-12">
            <button type="submit" class="btn btn-primary">CREA</button>
          </div>
    

</form>
