<div class="container-xl px-4 mt-4">
    <a [routerLink]="['/admin']">Torna indietro</a>
    <hr class="mt-0 mb-4">
    <div class="col-xl-12">
        <div class="row">
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-header">Dettaglio Squadra</div>
                    <div class="card-body">
                        <app-team-single-details [teamDetailsProp]="teamDetails"></app-team-single-details>
                    </div>
                </div>
                <!-- Existing tournaments -->
            </div>
            <div class="col-lg-4">
                <!-- Tournament undergoing -->
                <div class="card mb-4">
                    <div class="card-header">
                        Membri della squadra
                    </div>
                    <div class="card-body">
                        <!-- mettere componente lista iscritti qui -->
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="card mb-4">
                    <div class="card-header">
                        Lista match
                    </div>
                    <div class="card-body">
                        <div class = "container-fluid px text-center">
                            <span class="text-center">Non sono presenti match per questo torneo</span>
                        </div>
                        <!-- mettere componente matches qui -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



