<p>registration-form works!</p>
<div class="container-fluid px">
<form class = "row g-3" (ngSubmit)="register()" [formGroup]="registrationForm">
    
        <div class="col-md-6">
            <label for="name" class="form-label">Inserisci il tuo nome:</label>
            <input type="text" id="name" class="form-control" formControlName = "name">
        </div>

        <div class="col-md-6">
            <label for="surname" class="form-label">Inserisci il tuo cognome:</label>
            <input type="text" id="surname" class="form-control" formControlName = "surname">
        </div>

        <div class="col-md-6">
            <label for="mail" class="form-label">Inserisci la tua email:</label>
            <input type="text" id="mail" class="form-control" formControlName="email">
        </div>

        <div class="col-md-6">
            <label for="pass" class="form-label">Password:</label>
            <input type="password" id="pass" class="form-control" formControlName="password">
        </div>

        <div class="col-md-6">
            <label for="repeatPassword" class="form-label">Ripeti password:</label>
            <input type="password" id="repeatPassword" class="form-control" formControlName="repeatPassword">
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-primary">REGISTRATI</button>
        </div>
    </form>
</div>
