<div class="container-fluid px">
    <form class = "row g-3" (ngSubmit)="editUserPassword()" [formGroup]="editUserPassForm">
            <div class="alert alert-danger" role="alert" *ngIf="errorMessage" style="text-align: center;">
                <strong>{{ errorMessage }}</strong>
            </div>
            <div class="alert alert-success" role="alert" *ngIf="successMessage" style="text-align: center;">
                <strong>{{ successMessage }}</strong>
            </div>
            <div class="col-md-12">
                <label for="oldPassword" class="form-label">Password attuale:</label>
                <input type="text" id="oldPassword" class="form-control" formControlName = "oldPassword">
            </div>
    
            <div class="col-md-12">
                <label for="newPassword" class="form-label">Nuova password:</label>
                <input type="text" id="newPassword" class="form-control" formControlName="newPassword">
            </div>
    
            <div class="col-md-12">
                <label for="repeatPassword" class="form-label">Ripeti nuova password:</label>
                <input type="text" id="repeatPassword" class="form-control" formControlName="repeatPassword">
            </div>
    
            <div class="col-12 text-center">
                <button type="submit" class="btn btn-secondary"><b>Modifica Password</b></button>
            </div>
    </form>
</div>