<nav class="navbar navbar-expand-xl bg-body-tertiary">
    <div class="container-fluid">
        
      <a class="navbar-brand" href="#"> 
        <img src="assets/img/beachill-logo.png" width="120" height="" class="d-inline-block align-text-center">
        BEaCHILL
      </a>
    
    
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/tournaments">Tornei</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Team</a>
          </li>
          <li class="nav-item" *ngIf="hasLoggedIn && checkRoleAdmin()">
            <a class="nav-link active" aria-current="page" routerLink="/admin">Admin</a>
          </li>
          <li class="nav-item dropdown" *ngIf="hasLoggedIn"> <!-- sono un coglione con la firma -->
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
         <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loginModal" *ngIf="!hasLoggedIn; else logoutBtn">
          Accedi
        </button>
        <ng-template #logoutBtn>        
          <button type="button" class="btn btn-secondary" (click)="logout()">
            Logout
          </button>
          <p>Sei loggato come: {{ getUserData()?.user?.email }}</p>
        </ng-template>
      </div>
    </div>
  </nav>

  <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="loginModalLabel">Effettua l'accesso</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form (ngSubmit)="login()" [formGroup]="loginForm">
        <div class="modal-body">
          <div class="col-md-6">
            <label for="email">Indirizzo email</label>
            <input type="text" id="email" name="email" formControlName="email">
          </div>
          <div class="col-md-6">
            <label for="email">Password</label>
            <input type="password" id="password" name="password" formControlName="password">
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" data-bs-dismiss="loginModal">Accedi</button>
        </div>
        </form>
      </div>
    </div>
  </div>

